.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn {
  
  width: 35px;
  height: 30px;
  background-color: green;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

.wrapper {
  position: absolute;
  top: 45%;
  right: 45%;
}

.middleBox {
  width: 65px;
  height:auto;
  background-color: whitesmoke;
  font-size: 24px;
  text-align: center;
}
