extend ../layout

block content
    h2 Orange Mango Carrot Smoothie
    img(src="https://img.buzzfeed.com/thumbnailer-prod-us-east-1/05c2aa7401da4175b3a908cc8ad7bac2/BFV21410_VeggiePackedFruitSmoothies4Ways-FB.jpg" alt="orange-mango-carrot=smoothie")
    h4 Ingredients for 2 servings
      ul
        li 2 oranges
        li 1 mango
        li 2 carrots
        li 1/2 cup milk, or nut milk
    h4 Preparation
       ol
         li Excluding the milk, combine all ingredients for each smoothie in a resealable bag and freeze.
         li NOTE: They can be kept in the freezer for up to 6 months!
         li Remove from freezer and pour your desired smoothie combination into the blender along with the milk. Blend until smooth, and add more milk if needed.
         
